<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::section})}">
<section class="container my-3">
    <h2>학습 데이터 등록</h2>

    <form th:action="@{/sensor/create}" method="post" class="form-box">
        <label class="form-label">장비명</label>
        <input class="form-control" type="text" name="equipmentName" value="Etcher-01">

        <label class="form-label">온도</label>
        <input class="form-control" type="number" step="0.1" name="temperature" value="72.5">

        <label class="form-label">압력</label>
        <input class="form-control" type="number" step="0.1" name="pressure" value="2.1">

        <label class="form-label">진동</label>
        <input class="form-control" type="number" step="0.1" name="vibration" value="0.3">

        <label class="form-label">가스 유량</label>
        <input class="form-control" type="number" step="0.1" name="gasFlow" value="120.0">

        <label class="form-label">라벨</label>
        <select class="form-select" name="label">
            <option value="NORMAL">NORMAL</option>
            <option value="ABNORMAL">ABNORMAL</option>
        </select>

        <div>
            <button class="btn btn-primary" type="submit">저장하기</button>
            <a class="btn btn-secondary" th:href="@{/sensor/list}">목록</a>
        </div>
    </form>
</section>
</html>